.form-check-input:checked {
    border-color: #74BCAC;
    background-color: #74BCAC;
}

.botonTestSubmit{
    border: 1px solid #74BCAC;
    background-color: #74BCAC;
    color: white;
}

.botonTestSubmit:hover{
    border: 1px solid #83CDC4;
    background-color: #83CDC4;
    color: white;
}