.logoNavbar{
    width: 200px;
    transition: transform 0.3s ease;
}

.logoNavbar:hover {
    transform: scale(1.15);
}

.linkNavbar{
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    transition: transform 0.3s ease;
}

.linkNavbar:hover{
    color: #FFFFFF;
}

.navbar{
    z-index: 10000000000;
    background-color: rgb(58,58,58,1);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    border-bottom: 2px solid rgb(103,204,185, 1);
    background-position: center center;
}
  
.animate__animated.animate__fadeInDown {
    --animate-duration: 0.5s;
}

.navbar .nav-link,
.navbar .nav-link:focus,
.navbar .nav-link:hover {
    color: #FFFFFF;
}

.navbar .nav-link.show,
.navbar .nav-link.show:focus,
.navbar .nav-link.show:hover {
    color: #FFFFFF;
}

.dropdown-menu{
    margin: 0;
    padding: 0;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0rem;
    border: 2px solid rgb(103,204,185,0.9);
    border-radius: 5px;
}

.dropdown-item{
    background-color: rgb(103,204,185,0.9);
    border-bottom: 1px solid rgb(58,58,58,0.1);
    color: #FFFFFF;
    padding-left: 0.6rem;
}

.ultimoItemDropdown{
    border-bottom: none;
}

.dropdown-item:hover{
    color: #FFFFFF;
    background-color: rgb(103,204,185,1);
    transition: background-color 0.3s ease;
}

.navbar-toggler{
    margin-left: 2rem;
    background-color: transparent;
    border: none;
    color: transparent;
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}
  
.burger input {
    display: none;
}
  
.burger span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
  
.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}
  
.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}
  
.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}
  
.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}
  
.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}
  
.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

@media (max-width: 576px){
    .active{
        padding-inline: 1rem;
        padding-block: 0rem;
        background-color: #67CCB9;
    }

    .nonActive:hover{
        padding-inline: 1rem;
        padding-block: 0rem;
        background-color: rgb(103,204,185,0.5);
        transition: background-color 0.3s ease;
    }

    .nonActive{
        padding-inline: 1rem;
        padding-block: 0rem;
    }

    .nonActiveDropdown{
        display: none;
    }

    .containerFluidNavBar{
        padding: 0;
    }

    .navbar{
        padding: 0;
    }
    
    .nombreNavBarResponsive{
        border-bottom: 2px solid rgb(255,255,255,0.2);
        color: #FFFFFF;
        font-size: 1.3rem;
        padding-inline: 1rem;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 576px) and (max-width: 992px){
    .active{
        padding-inline: 1rem;
        padding-block: 0rem;
        background-color: #67CCB9;
    }

    .nonActive:hover{
        padding-inline: 1rem;
        padding-block: 0rem;
        background-color: rgb(103,204,185,0.5);
        transition: background-color 0.3s ease;
    }

    .nonActive{
        padding-inline: 1rem;
        padding-block: 0rem;
    }

    .nonActiveDropdown{
        display: none;
    }

    .containerFluidNavBar{
        padding: 0;
    }

    .navbar{
        padding: 0;
    }
    
    .nombreNavBarResponsive{
        border-bottom: 2px solid rgb(255,255,255,0.2);
        color: #FFFFFF;
        font-size: 1.3rem;
        padding-inline: 1rem;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .navbar-brand{
        margin-left: 2rem;
    }

    .nav-item {
        margin-left: 1.5rem;
    }
    
    .nav-item:last-child {
        margin-right: 2rem;
    }

    .active{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
        background-color: #67CCB9;
    }

    .nonActive:hover{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
        background-color: rgb(103,204,185,0.5);
        transition: background-color 0.3s ease;
    }

    .nonActive{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
    }

    .nonActiveDropdown{
        padding-inline: 1rem;
    }

    .navbar{
        padding-block: 1rem;
    }

    .botonNavbarResponsive{
        display: none;
    }
    
    .linkNavbar:hover{
        transform: scale(1.08);
    }
}

@media (min-width: 1200px){
    .navbar-brand{
        margin-left: 10rem;
    }

    .nav-item {
        margin-left: 1.5rem;
    }
    
    .nav-item:last-child {
        margin-right: 10rem;
    }

    .active{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
        background-color: #67CCB9;
    }

    .nonActive:hover{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
        background-color: rgb(103,204,185,0.5);
        transition: background-color 0.3s ease;
    }

    .nonActive{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
    }

    .nonActiveDropdown{
        padding-inline: 1rem;
    }
    
    .navbar{
        padding-block: 1rem;
    }

    .botonNavbarResponsive{
        display: none;
    }
    
    .linkNavbar:hover{
        transform: scale(1.08);
    }
}