.logoNavbar{
    width: 200px;
    transition: transform 0.3s ease;
}

.logoNavbar:hover {
    filter: invert(44%) sepia(94%) saturate(406%) hue-rotate(483deg) brightness(92%) contrast(88%);
    transform: scale(1.15);
}

.linkNavbar{
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    transition: transform 0.3s ease;
}

.linkNavbar:hover{
    transform: scale(1.08);
    color: #FFFFFF;
}

.navbar{
    z-index: 10000000000;
    background-color: rgb(58,58,58,1);
    background-image: url("./Metalico.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    border-bottom: 2px solid rgb(103,204,185, 1);
    background-position: center center;
}
  
.animate__animated.animate__fadeInDown {
    --animate-duration: 0.5s;
}

.navbar .nav-link,
.navbar .nav-link:focus,
.navbar .nav-link:hover {
    color: #FFFFFF;
}

.navbar .nav-link.show,
.navbar .nav-link.show:focus,
.navbar .nav-link.show:hover {
    color: #FFFFFF;
}

.dropdown-menu{
    background-color: rgb(58,58,58,1);
    background-image: url("./Metalico.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    margin: 0;
    padding: 0;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0rem;
    border: 2px solid rgb(103,204,185,0.9);
    border-radius: 5px;
}

.dropdown-item{
    background-color: rgb(103,204,185,0.9);
    border-bottom: 1px solid rgb(58,58,58,0.1);
    color: #FFFFFF;
    padding-left: 0.6rem;
}

.ultimoItemDropdown{
    border-bottom: none;
}

.dropdown-item:hover{
    color: #FFFFFF;
    background-color: rgb(103,204,185,1);
    transition: background-color 0.3s ease;
}

@media (max-width: 576px){
    .active{
        padding-inline: 1rem;
        padding-block: 0rem;
        background-color: #67CCB9;
    }

    .nonActive:hover{
        padding-inline: 1rem;
        padding-block: 0rem;
        background-color: rgb(103,204,185,0.5);
        transition: background-color 0.3s ease;
    }

    .nonActive{
        padding-inline: 1rem;
        padding-block: 0rem;
    }

    .nonActiveDropdown{
        display: none;
    }

    .containerFluidNavBar{
        padding: 0;
    }

    .navbar{
        padding: 0;
    }
    
    .nombreNavBarResponsive{
        border-bottom: 2px solid rgb(255,255,255,0.2);
        color: #FFFFFF;
        font-size: 1.3rem;
        padding-inline: 1rem;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 576px) and (max-width: 992px){
    .active{
        padding-inline: 1rem;
        padding-block: 0rem;
        background-color: #67CCB9;
    }

    .nonActive:hover{
        padding-inline: 1rem;
        padding-block: 0rem;
        background-color: rgb(103,204,185,0.5);
        transition: background-color 0.3s ease;
    }

    .nonActive{
        padding-inline: 1rem;
        padding-block: 0rem;
    }

    .nonActiveDropdown{
        display: none;
    }

    .containerFluidNavBar{
        padding: 0;
    }

    .navbar{
        padding: 0;
    }
    
    .nombreNavBarResponsive{
        border-bottom: 2px solid rgb(255,255,255,0.2);
        color: #FFFFFF;
        font-size: 1.3rem;
        padding-inline: 1rem;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .navbar-brand{
        margin-left: 2rem;
    }

    .nav-item {
        margin-left: 1.5rem;
    }
    
    .nav-item:last-child {
        margin-right: 2rem;
    }

    .active{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
        background-color: #67CCB9;
    }

    .nonActive:hover{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
        background-color: rgb(103,204,185,0.5);
        transition: background-color 0.3s ease;
    }

    .nonActive{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
    }

    .nonActiveDropdown{
        padding-inline: 1rem;
    }

    .navbar{
        padding-block: 1rem;
    }

    .botonNavbarResponsive{
        display: none;
    }
}

@media (min-width: 1200px){
    .navbar-brand{
        margin-left: 10rem;
    }

    .nav-item {
        margin-left: 1.5rem;
    }
    
    .nav-item:last-child {
        margin-right: 10rem;
    }

    .active{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
        background-color: #67CCB9;
    }

    .nonActive:hover{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
        background-color: rgb(103,204,185,0.5);
        transition: background-color 0.3s ease;
    }

    .nonActive{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
    }

    .nonActiveDropdown{
        padding-inline: 1rem;
    }
    
    .navbar{
        padding-block: 1rem;
    }

    .botonNavbarResponsive{
        display: none;
    }
}

.navbar-toggler{
    margin-left: 1rem;
    background-color: transparent;
    border: none;
    color: transparent;
    border-color: #FFFFFF;
}

.navbar-toggler-icon{
    background-image: url('../../assets/hamburguer.png');
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease;
}

.openNavBar{
    transform: rotate(90deg);
}