.logoNavbar{
    width: 200px;
}

.logoNavbar:hover {
    filter: invert(44%) sepia(94%) saturate(406%) hue-rotate(485deg) brightness(92%) contrast(88%);
}

.linkNavbar{
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
}

.linkNavbar:hover{
    color: #FFFFFF;
}

.navbar{
    background-image: url("../../assets/Concrete.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #3A3A3A;;
}
  
.animate__animated.animate__fadeInDown {
    --animate-duration: 0.5s;
}

@media (max-width: 576px){
    .active{
        padding-inline: 1rem;
        padding-block: 0rem;
        background-color: #67CCB9;
    }

    .nonActive:hover{
        padding-inline: 1rem;
        padding-block: 0rem;
        background-color: rgb(103,204,185,0.5);
        transition: background-color 0.3s ease;
    }

    .nonActive{
        padding-inline: 1rem;
        padding-block: 0rem;
    }

    .containerFluidNavBar{
        padding: 0;
    }

    .navbar{
        padding: 0;
    }
}

@media (min-width: 576px) and (max-width: 992px){
    .active{
        padding-inline: 1rem;
        padding-block: 0rem;
        background-color: #67CCB9;
    }

    .nonActive:hover{
        padding-inline: 1rem;
        padding-block: 0rem;
        background-color: rgb(103,204,185,0.5);
        transition: background-color 0.3s ease;
    }

    .nonActive{
        padding-inline: 1rem;
        padding-block: 0rem;
    }

    .containerFluidNavBar{
        padding: 0;
    }

    .navbar{
        padding: 0;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .navbar-brand{
        margin-left: 2rem;
    }

    .nav-item {
        margin-left: 1.5rem;
    }
    
    .nav-item:last-child {
        margin-right: 2rem;
    }

    .active{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
        background-color: #67CCB9;
    }

    .nonActive:hover{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
        background-color: rgb(103,204,185,0.5);
        transition: background-color 0.3s ease;
    }

    .nonActive{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
    }

    .navbar{
        padding-block: 1rem;
    }
}

@media (min-width: 1200px){
    .navbar-brand{
        margin-left: 10rem;
    }

    .nav-item {
        margin-left: 1.5rem;
    }
    
    .nav-item:last-child {
        margin-right: 10rem;
    }

    .active{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
        background-color: #67CCB9;
    }

    .nonActive:hover{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
        background-color: rgb(103,204,185,0.5);
        transition: background-color 0.3s ease;
    }

    .nonActive{
        padding-inline: 1rem;
        padding-block: 0rem;
        border-radius: 32px;
    }
    
    .navbar{
        padding-block: 1rem;
    }
}

.navbar-toggler{
    margin-left: 1rem;
    background-color: transparent;
    border: none;
    color: transparent;
    border-color: #FFFFFF;
}

.navbar-toggler-icon{
    background-image: url('../../assets/hamburguer.png');
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease;
}

.openNavBar{
    transform: rotate(90deg);
}