.tituloPerfil{
    margin-top: 3rem;
    text-align: center;
}

.tituloPerfil h1{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 6rem;
    color: #323337;
}

.parrafoPerfil{
    width: 50%;
    margin: auto;
    margin-top: 1.2rem;
    text-align: center;
}

.parrafoPerfil p{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.23rem;
    color: #505050;
}

.rowDatosDelJugador{
    width: 80%;
    margin: auto;
}

.divFotoJugadorPerfil{
    background: #DEDEDE;
    border-radius: 16px;
    filter: drop-shadow(0px 10px 10px #a8aaae);
    text-align: center;
    padding-block: 2rem;
}

.divFotoJugadorPerfil img {
    width: 45%;
}

.divDatosDelJugadorInfo{
    padding-left: 3rem;
}

.datosDelJugador{
    width: 100%;
    background: #DEDEDE;
    border-radius: 16px;
    filter: drop-shadow(0px 10px 10px #a8aaae);
    padding-left: 4rem;
    padding-block: 1rem;
}

.datosDelJugador h2{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 3.4rem;
    color: #323337;
    margin: 0;
}

.datosDelJugadorInformacion{
    background: #DEDEDE;
    border-radius: 16px;
    filter: drop-shadow(0px 10px 10px #a8aaae);
}

.datosJugadorSeccion {
    width: 50%;
    padding-block: 2rem;
    padding-left: 4rem;
    text-align: start;
}

.NombreSeccionDatosJugador{
    font-family: 'Anton';
    font-size: 1.7rem;
    color: #323337;
}

.InfoSeccionDatosJugador{
    font-weight: 400;
    font-size: 1.5rem;
    color: #323337;
    margin-top: -0.5rem;
}

.datosJugadorSeccion1{
    border-bottom: 1px solid #747474;
    border-right: 1px solid #747474;
}

.datosJugadorSeccion2{
    border-bottom: 1px solid #747474;
}

.datosJugadorSeccion3{
    border-right: 1px solid #747474;
}

.nombreCardFIFA{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: absolute;
    top: 175px;
    right: 0;
    left: 0;
    /* border-bottom: 1px solid #FFFFFF; */
    width: 40%;
    margin: auto;
}

.puntosCardFIFA{
    position: absolute;
    top: 90px;
    left: 160px;
}

.puntosNumeroCardFIFA{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 2.7rem;
    color: #FFFFFF;
}

.puntosTextoCardFIFA{
    font-weight: 200;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 0px;
    margin-top: -1rem;
}

.puntajesDominiosPerfilFIFA{
    width: 45%;
    margin: auto;
    position: absolute;
    top: 220px;
    right: 0;
    left: 0;
}

.numeroPtsCardFIFA{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 1.5rem;
    color: #FFFFFF;
    width: 45px;
}

.dominioPtsCardFIFA{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 1.3rem;
    color: #FFFFFF;
}

.segundaColumnaEstadisticas{
    border-left: 1px solid #FFFFFF;
}

.cajaSeleccionarCardDominio{
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 10rem;
    background: #DEDEDE;
    border-radius: 16px;
    filter: drop-shadow(0px 10px 10px #a8aaae);
    padding-block: 2rem;
}

.cardDominioPerfil{
    background-color: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 6px #a8aaae);
    padding-inline: 2rem ;
    padding-block: 1rem;
    cursor: pointer;
}

.tituloCardDominioPerfil{
    font-weight: 700;
    font-size: 1.2rem;
    color: #323337;
    border-bottom: 1px solid #b6b6b6;
}

.subtituloCardDominioPerfil{
    position: absolute;
    text-align: center;
    top: 45px;
    left: 0;
    right: 0;
    margin-top: 0.5rem;
    font-family: 'Anton';
    font-weight: 400;
    font-size: 1.7rem;
    color: #323337;
}

.numeroCardDominioPerfil{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 2.1rem;
    color: #323337;
    width: 70%;
    margin: auto;
    border-bottom: 1px solid #b6b6b6;
}

.textoPuntosCardDominioPerfil{
    font-weight: 600;
    font-size: 1rem;
    color: #323337;
}

.progress{
    margin-top: 3.2rem;
    width: 100%;
    background-color: #333333;
    height: 20px;
    border-radius: 0px;
    position: relative;
    top: 0px;
}

.progress-bar{
    height: 20px;
}

.progress-bar1{
    background-color: #CD0133;
}

.progress-bar2{
    width: 57%;
    background-color: #35B4B6;
}

.progress-bar3{
    width: 23%;
    background-color: #FFCA1A;
}

.progress-bar4{
    width: 65%;
    background-color: #4EA86A;
}

.progress-bar5{
    width: 96%;
    background-color: #FE832F;
}

.progress-bar6{
    width: 30%;
    background-color: #6A279B;
}

.proximamenteCardDominioPerfil{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #b6b6b6;
    width: 70%;
    text-align: center;
    margin: auto;
}

.proximamenteCardDominioPerfil span{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 1rem;
    line-height: 10px;
    display: block;
}

.proximamenteCardDominioPerfil2{
    color: #35B4B6;
}

.proximamenteCardDominioPerfil3{
    color: #FFCA1A;
}

.proximamenteCardDominioPerfil4{
    color: #4EA86A;
}

.proximamenteCardDominioPerfil5{
    color: #FE832F;
}

.proximamenteCardDominioPerfil6{
    color: #6A279B;
}

.mesProximamenteCardDominioPerfil{
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: -0.7rem;
}

.mesProximamenteCardDominioPerfil2{
    color: #35B4B6;
}

.mesProximamenteCardDominioPerfil3{
    color: #FFCA1A;
}

.mesProximamenteCardDominioPerfil4{
    color: #4EA86A;
}

.mesProximamenteCardDominioPerfil5{
    color: #FE832F;
}

.mesProximamenteCardDominioPerfil6{
    color: #6A279B;
}

.cardDominioPerfilPresionada{
    background-color: #CD0133;;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 6px #a8aaae);
    padding-inline: 2rem ;
    padding-block: 1rem;
    cursor: pointer;
}

.tituloCardDominioPerfilPresionada{
    font-weight: 700;
    font-size: 1.2rem;
    color: #FFFFFF;
    border-bottom: 1px solid #b6b6b6;
}

.subtituloCardDominioPerfilPresionada{
    position: absolute;
    text-align: center;
    top: 45px;
    left: 0;
    right: 0;
    margin-top: 0.5rem;
    font-family: 'Anton';
    font-weight: 400;
    font-size: 1.7rem;
    color: #FFFFFF;
}

.progressPresionada{
    margin-top: 1rem;
    width: 100%;
    background-color: #333333;
    height: 20px;
    border-radius: 0px;
    position: relative;
    top: 0px;
}

.progress-barPresionada{
    background-color: #FFFFFF;
}

.numeroCardDominioPerfilPresionada{
    color: #FFFFFF;
    font-family: 'Anton';
    font-weight: 400;
    font-size: 2.1rem;
    width: 70%;
    margin: auto;
    border-bottom: 1px solid #b6b6b6;
}

.textoPuntosCardDominioPerfilPresionada{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
}