.tituloPerfil{
    margin-top: 3rem;
    text-align: center;
}

.tituloPerfil h1{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 6rem;
    color: #323337;
}

.parrafoPerfil{
    width: 50%;
    margin: auto;
    margin-top: 1.2rem;
    text-align: center;
}

.parrafoPerfil p{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.23rem;
    color: #505050;
}

.rowDatosDelJugador{
    width: 80%;
    margin: auto;
}

.divDatosDelJugadorInfo{
    padding-left: 3rem;
}

.datosDelJugador{
    width: 100%;
    background: #DEDEDE;
    border-radius: 16px;
    filter: drop-shadow(0px 10px 10px #a8aaae);
    padding-left: 4rem;
    padding-block: 1rem;
}

.datosDelJugador h2{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 3.4rem;
    color: #323337;
    margin: 0;
}

.datosDelJugadorInformacion{
    background: #DEDEDE;
    border-radius: 16px;
    filter: drop-shadow(0px 10px 10px #a8aaae);
}

.datosJugadorSeccion {
    width: 50%;
    padding-block: 2rem;
    padding-left: 4rem;
    text-align: start;
}

.NombreSeccionDatosJugador{
    font-family: 'Anton';
    font-size: 1.7rem;
    color: #323337;
}

.InfoSeccionDatosJugador{
    font-weight: 400;
    font-size: 1.5rem;
    color: #323337;
    margin-top: -0.5rem;
}

.datosJugadorSeccion1{
    border-bottom: 1px solid #747474;
    border-right: 1px solid #747474;
}

.datosJugadorSeccion2{
    border-bottom: 1px solid #747474;
}

.datosJugadorSeccion3{
    border-right: 1px solid #747474;
}

.nombreCardFIFA{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #FFFFFF;
    position: absolute;
    top: 230px;
    right: 0;
    left: 0;
    line-height: 1.5rem;
    border-bottom: 1px solid #FFFFFF;
    width: 40%;
    margin: auto;
}

.puntosCardFIFA{
    position: absolute;
    top: 20%;
    left: 30%;
}

.puntosNumeroCardFIFA{
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 2.2rem;
    color: #FFFFFF;
}

.puntosTextoCardFIFA{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 0px;
    margin-top: -0.8rem;
}

.puntajesDominiosPerfilFIFA{
    width: 45%;
    margin: auto;
    position: absolute;
    top: 255px;
    right: 0;
    left: 0;
}

.numeroPtsCardFIFA{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.3rem;
    color: #FFFFFF;
    width: 45px;
}

.dominioPtsCardFIFA{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.3rem;
    color: #FFFFFF;
}

.segundaColumnaEstadisticas{
    border-left: 1px solid #FFFFFF;
}

.cajaSeleccionarCardDominio{
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: #DEDEDE;
    border-radius: 16px;
    filter: drop-shadow(0px 10px 10px #a8aaae);
    padding-block: 2rem;
}

.cardDominioPerfil{
    background-color: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 6px #a8aaae);
    padding-inline: 2rem ;
    padding-block: 1rem;
    cursor: pointer;
}

.tituloCardDominioPerfil{
    font-weight: 700;
    font-size: 1.2rem;
    color: #323337;
    border-bottom: 1px solid #b6b6b6;
}

.subtituloCardDominioPerfil{
    position: absolute;
    text-align: center;
    top: 45px;
    left: 0;
    right: 0;
    margin-top: 0.5rem;
    font-family: 'Anton';
    font-weight: 400;
    font-size: 1.7rem;
    color: #323337;
}

.numeroCardDominioPerfil{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 2.1rem;
    color: #323337;
    width: 70%;
    margin: auto;
    border-bottom: 1px solid #b6b6b6;
}

.textoPuntosCardDominioPerfil{
    font-weight: 600;
    font-size: 1rem;
    color: #323337;
}

.progressCard{
    margin-top: 3.2rem;
    width: 100%;
    background-color: #333333;
    height: 20px;
    border-radius: 0px;
    position: relative;
    top: 0px;
}

.progress-barCard{
    height: 20px;
}

.progress-bar1{
    background-color: #CD0133;
}

.progress-bar2{
    width: 57%;
    background-color: #35B4B6;
}

.progress-bar3{
    width: 23%;
    background-color: #FFCA1A;
}

.progress-bar4{
    width: 65%;
    background-color: #4EA86A;
}

.progress-bar5{
    width: 96%;
    background-color: #FE832F;
}

.progress-bar6{
    width: 30%;
    background-color: #6A279B;
}

.proximamenteCardDominioPerfil{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #b6b6b6;
    width: 70%;
    text-align: center;
    margin: auto;
}

.proximamenteCardDominioPerfil span{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 1rem;
    line-height: 10px;
    display: block;
}

.proximamenteCardDominioPerfil2{
    color: #35B4B6;
}

.proximamenteCardDominioPerfil3{
    color: #FFCA1A;
}

.proximamenteCardDominioPerfil4{
    color: #4EA86A;
}

.proximamenteCardDominioPerfil5{
    color: #FE832F;
}

.proximamenteCardDominioPerfil6{
    color: #6A279B;
}

.mesProximamenteCardDominioPerfil{
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: -0.7rem;
}

.mesProximamenteCardDominioPerfil2{
    color: #35B4B6;
}

.mesProximamenteCardDominioPerfil3{
    color: #FFCA1A;
}

.mesProximamenteCardDominioPerfil4{
    color: #4EA86A;
}

.mesProximamenteCardDominioPerfil5{
    color: #FE832F;
}

.mesProximamenteCardDominioPerfil6{
    color: #6A279B;
}

.cardDominioPerfilPresionada{
    background-color: #CD0133;;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 6px #a8aaae);
    padding-inline: 2rem ;
    padding-block: 1rem;
    cursor: pointer;
}

.tituloCardDominioPerfilPresionada{
    font-weight: 700;
    font-size: 1.2rem;
    color: #FFFFFF;
    border-bottom: 1px solid #b6b6b6;
}

.subtituloCardDominioPerfilPresionada{
    position: absolute;
    text-align: center;
    top: 45px;
    left: 0;
    right: 0;
    margin-top: 0.5rem;
    font-family: 'Anton';
    font-weight: 400;
    font-size: 1.7rem;
    color: #FFFFFF;
}

.progressPresionada{
    margin-top: 1rem;
    width: 100%;
    background-color: #333333;
    height: 20px;
    border-radius: 0px;
    position: relative;
    top: 0px;
}

.progress-barPresionada{
    background-color: #FFFFFF;
}

.numeroCardDominioPerfilPresionada{
    color: #FFFFFF;
    font-family: 'Anton';
    font-weight: 400;
    font-size: 2.1rem;
    width: 70%;
    margin: auto;
    border-bottom: 1px solid #b6b6b6;
}

.textoPuntosCardDominioPerfilPresionada{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
}

.cajaGrandeEstadisticasHexagono{
    width: 80%;
    margin: auto;
}

.CajaEstadisticasSecciones{
    background: #DEDEDE;
    border-radius: 14px;
    filter: drop-shadow(0px 10px 10px #a8aaae);
    margin-bottom: 4rem;
    padding-block: 2rem;
}

.tituloCajaEstadisticasSecciones{
    text-align: center;
}

.tituloCajaEstadisticasSecciones h2{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 2.2rem;
    color: #323337;
}

.subtituloCajaEstadisticasSecciones{
    text-align: center;
    margin-top: -0.6rem;
}

.subtituloCajaEstadisticasSecciones h3{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 2.2rem;
    color: #CD0133;
}

.parteSuperiorSeccionesDirectivo{
    background-color: #FFFFFF;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.titulosSeccionesPuntosTablaDirectivo span{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #020203;
}

.estadisticasTablaSecciones{
    margin: auto;
    margin-top: 1rem;
    width: 80%;
    filter: drop-shadow(0px 10px 10px #a8aaae);
    border-radius: 20px;
    background-color: #FFFFFF;

}

.categoriaSeccionesDirectivo{
    background-color: #FFFFFF;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    padding-bottom: 0rem;
}

.categoriaTextoSeccionesPuntosTablaDirectivo span{
    font-weight: 500;
    font-size: 1.2rem;
    color: #020203;
}

.progressEstadisticas{
    margin-left: auto;
    margin-right: 2rem;
    margin-bottom: 1rem;
    width: 75%;
    height: 5px;
    top: 0px;
    right: 0px;
    position: relative;
    background: #a8a8a8;
}

.progress-barEstadisticas{
    width: 50%;
    background: #CD0133;
}

.parteInferiorEstadisticasDirectivo{
    background-color: #CE1236;
    padding-block: 1rem;
    padding-inline: 2rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: start;
}

.parteInferiorEstadisticasDirectivo span{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 1.62rem;
    color: #FFFFFF;
}

.tituloRosaDeLosVientos{
    text-align: center;
}

.tituloRosaDeLosVientos h2{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 3.5rem;
    color: #323337;   
}

.parrafoRosaDeLosVientos{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}

.parrafoRosaDeLosVientos span{
    display: block;
}

.parrafoRosaDeLosVientos p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 29.9468px;
    line-height: 31px;
    text-align: center;
    color: #323337;   
}

.hexagonoImagen{
    width: 50%;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}


.hexagonoImagen img{
    width: 100%;
}

.puntoRojoHexagono{
    width: 10px;
    height: 10px;
    background-color: #CD0133;
    border-radius: 50%;
    position: absolute;
    top: 340px;
    right: -13px;
    left: 0;
    margin: auto;
}

.parrafoFooter1Perfil p{
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    color: #323337;
    margin-bottom: 2rem;
}

.parrafoFooter2Perfil p{
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    color: #323337;
    margin-bottom: 3rem;
}

.parrafoFooter2Perfil b{
    display: block;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.2rem;
    text-align: center;
    color: #323337;
}
  
.divFotoJugadorPerfil {
    position: relative;
    background: #DEDEDE;
    border-radius: 16px;
    filter: drop-shadow(0px 10px 10px #a8aaae);
    text-align: center;
    padding-block: 2rem;
    width: 33.333333%;
}

.contenedorImagen {
    position: relative;
    height: 365px;
    width: 50%;
    margin: auto;
    overflow: hidden;
}

.contenedorImagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    -webkit-mask-image: url('../../assets/escudoPerfil2.png');
    mask-image: url('../../assets/escudoPerfil2.png');
    -webkit-mask-size: cover;
    mask-size: cover;
}

.contenedorImagen::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(140,141,143,0.3029586834733894) 60%, rgba(50,51,55,1) 90%);
    mix-blend-mode: multiply;
    -webkit-mask-image: url('../../assets/escudoPerfil2.png');
    mask-image: url('../../assets/escudoPerfil2.png');
    -webkit-mask-size: cover;
    mask-size: cover;
  }