.footerImagen{
    width: 200px;
    transition: transform 0.3s ease;
}   

.footerImagen:hover {
    transform:scale(1.15);
}

.footer{
    border-top: 2px solid rgb(103,204,185, 1);
    background-blend-mode: multiply;
    background-color: rgb(58,58,58,1);
    background-attachment: fixed;
    background-size: 100vw 100vh;;
    text-align: center;
    padding-block: 2rem;
}