.footerImagen{
    width: 200px;
    transition: transform 0.3s ease;
}   

.footerImagen:hover {
    transform:scale(1.15);
}

.footer{
    background-image: url("../../assets/Metalico.png");
    border-top: 2px solid rgb(103,204,185, 1);
    background-blend-mode: multiply;
    background-color: rgb(58,58,58,1);
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-position: 0% 0%;
    text-align: center;
    padding-block: 2rem;
}