.labelFormLogin{
    font-size: 1rem;
    font-weight: 500;
    color: #505050;
}

.inputLogin{
    background-color: #FFFFFF;
    border: 1px solid #C6C6C6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 40px;
}

.keyIconLogin{
    width: 15px;
    position: relative;
    bottom: 2px;
}

.botonSubmitLogin{
    width: 160px;
    background: #67CCB9;
    border: 1px solid #67CCB9;
    border-radius: 4px;
    color: white;
    padding-inline: 0.2rem;
    padding-block: 0.5rem;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    font-style: normal;
    height: 44px;
}

.linkOlvideContraseña{
    color: #838282;
}

.input-border {
    height: 2px;
    transition: width 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

.input-border-alt {
    width: 0%;
    height: 3px;
    background: linear-gradient(90deg, #e1ecea 0%, #67CCB9 100%);
    transition: width 0.2s cubic-bezier(0.42, 0, 0.58, 1.00);
}

.inputLogin:focus + .input-border-alt {
    width: 100%;
}