*{
    font-family: 'Poppins', sans-serif; 
}
/*

body:not(.bg-white):not(.crear-usuario):not(.crear-edificio) {
    background: url("../src/assets/fondo.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  
*/

/* document.body.classList.add('crear-usuario'); */

/*

font-family: 'Anton', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Bebas Neue', sans-serif;

*/

/* body:not(.recuperar-contrase単a-body):not(.iniciar-sesion){
    background-color: rgb(58,58,58,1);
    background-image: url("../src/assets/Metalico.png");
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center center;
    background-attachment: fixed;
}  */

body.recuperar-contrase単a-body{
    background: url("../src/assets/RecuperarContrase単a.png") no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(5px);
    background-blend-mode: multiply;
    background-position: center center;
    background-attachment: fixed;
} 

.bg-image:not(.recuperar-contrase単a-body):not(.iniciar-sesion){
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../src/assets/Metalico.png");
  background-color: rgb(58,58,58,1);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center center;
  background-attachment: fixed;
}

.contenedorCardsTest{
  width: 100%;
  padding-block: 4rem;
  background-color: rgb(103,207,188, 1);
  background-image: url("../src/assets/Metalico.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: black !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: none;
    border: 1px solid #67CCB9;
}

.form-control.is-invalid:focus {
    box-shadow: none;
    border-color: none;
}

button {
    border: none;
}

@media (max-width: 576px){

}

@media (min-width: 576px) and (max-width: 992px){

}

@media (min-width: 992px) and (max-width: 1200px){

}

@media (min-width: 1200px){

}

::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }