*{
    font-family: 'Poppins', sans-serif; 
}
/*

body:not(.bg-white):not(.crear-usuario):not(.crear-edificio) {
    background: url("../src/assets/fondo.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  
*/

/* document.body.classList.add('crear-usuario'); */

/*

font-family: 'Anton', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Bebas Neue', sans-serif;

*/

body:not(.recuperar-contraseña-body):not(.iniciar-sesion){
    background-color: rgb(58,58,58,1);
    background-image: url("https://doc-0c-90-docs.googleusercontent.com/docs/securesc/2lc7vs8d0n3e38d02dp61blmfed72min/cvj8i0ql69tisrunm5c8c189it78997g/1685038725000/07405825733652792889/14585000474494058987/16bwV4nSFRBcfVFNuax3xlv-25LPqH-Xj?ax=ADWCPKBP4J5cngUc2wRn96aw7VYDNNp5FryFh0BKyJivKFpLL7sPJIK8m9bokGBZlPbqgsqUBi8_OyyZaaOHpU7SXVrIMRBJTvG3_Nq1JPahfPxNjGKqOw53gLmV5mkvmKuQpFdbU_BzLYEcl4J-okQMGBLijlsDOhHyPajC-pV6xR6H0kTq4QJ8sgyfbmU8PE1wDSHtdi-vFWXHroUDiWtM-z44mlo8dXYgYEaNDeyCyxgvn1YQha3cq_LgPWfshwIY0BB0RFUWtjIyj7XxB_gWe3MLTM-0XwIEUU35FHz-1Xko9COPQIR-GvowwOnDnM9XsOSqm-_063EsBgGGM0VaqCrsBEplmItCnle1nkuVoXT41iWuP-UUID-Bn2-LlCpRftzfpJseRZdZqWo6KABcMYJIg7QpowjrUh-etsaPWGn-gQn0qK3nAuUDpol7hOb4MORVYsRcElHDO7Me8_aVd1bI0MjYltFbAdpw4YAY61iTemN0-e6hpBg9wK-Sj_MJclsdYscBqX1EFMTn_KdcrBowUwaAeCCqo_MTEkiYgFAyAu3fFLYGYcOhMk6RAI4ebZRWozcwn2iPKEaZTDASNsxkMMyknN4bb2qhv_yJ4bstblBBKbr6tSlQKV-0O5D1W74gjZ8_0SxbGaQCzz30PtIQ1X6i3s6HqD_ddqDiT40x-DXMECbIsbW-mrsRLmhrTA5Hi_HQIGOodAVjG44MPbij4KFJZZh39AJLLEMQrS0n-BBwtDLAnW0Zgpik7nXl1jW3Fb1NDiTmAH1dbJ8NaGj1xSp8vkv1wsLAisILjwODg6UCOhQDsUOa0HAGUPOJOdFhYgF4bo9QPBjrYG6LiOs8h4E1UwJZb3ZtJipFL1lWzdsm4P8at2RwsVksQiK6bb01InO-rF5GmxVevphaWHsldtT1cnfleE2Pw3hd1TGQxOuHv7d6s_XjGRondfEGLEjxuR6tcUonGv2-_Jo53HvowAf3duVit8ktAWQnE1cAp2o-nIOfXKzH-IFKBIXJMcHUZHqFpJuO1i5DYStpG96Oq7Ue1ZDgs_HinoaMpNHSH6SRFUx3oNV-La1e8cw0nC2tvUFLC3AinKSR8VregJf6PHeBQCZjcjD4W1ncspusvXFXZoh60EIheVGj9g2HSR-4k81PvkkZZTFsRqexPN6OOKkhwA&uuid=bb726c03-486c-4129-a3c0-6843f03dec5a&authuser=0&nonce=ffnsa6k3mothe&user=14585000474494058987&hash=0i97jtrrfeq2a8u60b1fv5j03e0tkp8t");
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center center;
    background-attachment: fixed;
} 

body.recuperar-contraseña-body{
    background: url("../src/assets/RecuperarContraseña.png") no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(5px);
    background-blend-mode: multiply;
    background-position: center center;
    background-attachment: fixed;
} 

.bg {
  background-color: rgb(58,58,58,1);
  background-image: url("https://doc-0c-90-docs.googleusercontent.com/docs/securesc/2lc7vs8d0n3e38d02dp61blmfed72min/cvj8i0ql69tisrunm5c8c189it78997g/1685038725000/07405825733652792889/14585000474494058987/16bwV4nSFRBcfVFNuax3xlv-25LPqH-Xj?ax=ADWCPKBP4J5cngUc2wRn96aw7VYDNNp5FryFh0BKyJivKFpLL7sPJIK8m9bokGBZlPbqgsqUBi8_OyyZaaOHpU7SXVrIMRBJTvG3_Nq1JPahfPxNjGKqOw53gLmV5mkvmKuQpFdbU_BzLYEcl4J-okQMGBLijlsDOhHyPajC-pV6xR6H0kTq4QJ8sgyfbmU8PE1wDSHtdi-vFWXHroUDiWtM-z44mlo8dXYgYEaNDeyCyxgvn1YQha3cq_LgPWfshwIY0BB0RFUWtjIyj7XxB_gWe3MLTM-0XwIEUU35FHz-1Xko9COPQIR-GvowwOnDnM9XsOSqm-_063EsBgGGM0VaqCrsBEplmItCnle1nkuVoXT41iWuP-UUID-Bn2-LlCpRftzfpJseRZdZqWo6KABcMYJIg7QpowjrUh-etsaPWGn-gQn0qK3nAuUDpol7hOb4MORVYsRcElHDO7Me8_aVd1bI0MjYltFbAdpw4YAY61iTemN0-e6hpBg9wK-Sj_MJclsdYscBqX1EFMTn_KdcrBowUwaAeCCqo_MTEkiYgFAyAu3fFLYGYcOhMk6RAI4ebZRWozcwn2iPKEaZTDASNsxkMMyknN4bb2qhv_yJ4bstblBBKbr6tSlQKV-0O5D1W74gjZ8_0SxbGaQCzz30PtIQ1X6i3s6HqD_ddqDiT40x-DXMECbIsbW-mrsRLmhrTA5Hi_HQIGOodAVjG44MPbij4KFJZZh39AJLLEMQrS0n-BBwtDLAnW0Zgpik7nXl1jW3Fb1NDiTmAH1dbJ8NaGj1xSp8vkv1wsLAisILjwODg6UCOhQDsUOa0HAGUPOJOdFhYgF4bo9QPBjrYG6LiOs8h4E1UwJZb3ZtJipFL1lWzdsm4P8at2RwsVksQiK6bb01InO-rF5GmxVevphaWHsldtT1cnfleE2Pw3hd1TGQxOuHv7d6s_XjGRondfEGLEjxuR6tcUonGv2-_Jo53HvowAf3duVit8ktAWQnE1cAp2o-nIOfXKzH-IFKBIXJMcHUZHqFpJuO1i5DYStpG96Oq7Ue1ZDgs_HinoaMpNHSH6SRFUx3oNV-La1e8cw0nC2tvUFLC3AinKSR8VregJf6PHeBQCZjcjD4W1ncspusvXFXZoh60EIheVGj9g2HSR-4k81PvkkZZTFsRqexPN6OOKkhwA&uuid=bb726c03-486c-4129-a3c0-6843f03dec5a&authuser=0&nonce=ffnsa6k3mothe&user=14585000474494058987&hash=0i97jtrrfeq2a8u60b1fv5j03e0tkp8t");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: black !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: none;
    border: 1px solid #67CCB9;
}

.form-control.is-invalid:focus {
    box-shadow: none;
    border-color: none;
}

button {
    border: none;
}

@media (max-width: 576px){

}

@media (min-width: 576px) and (max-width: 992px){

}

@media (min-width: 992px) and (max-width: 1200px){

}

@media (min-width: 1200px){

}

::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }