*{
    font-family: 'Poppins', sans-serif; 
}
/*

body:not(.bg-white):not(.crear-usuario):not(.crear-edificio) {
    background: url("../src/assets/fondo.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  
*/

/* document.body.classList.add('crear-usuario'); */

/*

font-family: 'Anton', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Bebas Neue', sans-serif;

*/

body:not(.recuperar-contraseña-body):not(.iniciar-sesion){
    background-color: rgb(58,58,58,1);
    background-image: url("../src/assets/Metalico.png");
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center center;
    background-attachment: fixed;
} 

body.recuperar-contraseña-body{
    background: url("../src/assets/RecuperarContraseña.png") no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(5px);
    background-blend-mode: multiply;
    background-position: center center;
    background-attachment: fixed;
} 

.bg {
  background-color: rgb(58,58,58,1);
  background-image: url("../assets/Metalico.png");
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: black !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: none;
    border: 1px solid #67CCB9;
}

.form-control.is-invalid:focus {
    box-shadow: none;
    border-color: none;
}

button {
    border: none;
}

@media (max-width: 576px){

}

@media (min-width: 576px) and (max-width: 992px){

}

@media (min-width: 992px) and (max-width: 1200px){

}

@media (min-width: 1200px){

}

::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }