*{
    font-family: 'Poppins', sans-serif; 
}
/* 
body:not(.bg-white):not(.crear-usuario):not(.crear-edificio) {
    background: url("../src/assets/fondo.jpg") no-repeat center center fixed;
    background-size: cover;
  } */

/* document.body.classList.add('crear-usuario'); */

/* font-family: 'Anton', sans-serif;
font-family: 'Poppins', sans-serif; */

body:not(.recuperar-contraseña-body){
    background-color: #FFFFFF;
    background-image: url("../src/assets/Concrete.png");
    background-size: cover;
    background-blend-mode: multiply;
} 

body.recuperar-contraseña-body{
    background: url("../src/assets/RecuperarContraseña.png") no-repeat center center fixed;
    background-size: cover;
} 

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: black !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: none;
    border: 1px solid #67CCB9;
}

.form-control.is-invalid:focus {
    box-shadow: none;
    border-color: none;
}