.tituloBienvenido{
    text-align: center;
}

.tituloBienvenido h1{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.tituloBienvenido span{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    color: #67CCB9;
}

.parrafoBienvenidaCentro{
    margin: auto;
    font-weight: 400;
    text-align: center;
}

.tusPrimerosPasos h2{
    font-weight: 700;
    font-size: 1.8rem;
    color: #67CCB9;
}

.parrafoPrimerosPasos{
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

.contenedorCardsTest{
    width: 100%;
    padding-block: 4rem;
    background-image: url("../../assets/Metalico.png");
    background-color: rgb(103,207,188, 1);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: 0% 0%;
}

.seleccioneTestTitulo{
    margin: auto;
    font-weight: 600;
    color: #FFFFFF;
}

.seleccioneTestTitulo span{
    display: block;
    margin: auto;
    font-weight: 600;
    color: #FFFFFF;
}

.cardTest {
    background-color: white;
    box-shadow: 0px 5px 11px -1px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
}

.tituloDominio{
    text-align: center;
    font-weight: 900;
}

.subtituloDominio{
    text-align: center;
    font-weight: 900;
}

.tituloDominio1{
    color: #CD0133;
}

.tituloDominio2{
    color: #35B4B6;
}

.tituloDominio3{
    color: #FFCA1A;
}

.tituloDominio4{
    color: #4EA86A;
}

.tituloDominio5{
    color: #FE832F;
}

.tituloDominio6{
    color: #6A279B;
}


.hrDominio{
    width: 90%;
    background-color: #4F4F4F;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.botonDominio{
    width: 100%;
    border-radius: 5.39818px;
    padding-block: 1rem;
    font-size: 1.3rem;
}

.botonDominio1{
    background: #CD0133;
    border: 1.34954px solid #CD0133;
    color: white;
}

.botonDominio2{
    background: #FFFFFF;
    color: #4EBDBF;
    border: 2.69909px dashed #4EBDBF;
}

.botonDominio3{
    background: #FFFFFF;
    color: #FFCA1A;
    border: 2.69909px dashed #FFCA1A;
}

.botonDominio4{
    background: #FFFFFF;
    color: #4EA86A;
    border: 2.69909px dashed #4EA86A;
}

.botonDominio5{
    background: #FFFFFF;
    color: #FE832F;
    border: 2.69909px dashed #FE832F;
}

.botonDominio6{
    background: #FFFFFF;
    color: #6A279B;
    border: 2.69909px dashed #6A279B;
}

.flexCardsTests{
    width: 70%;
    margin-top: 3rem;
}

@media (max-width: 576px){

    .tituloBienvenido{
        margin-top: 4rem;
        padding-inline: 1rem;
    }
    
    .tituloBienvenido h1{
        font-size: 3rem;
        line-height: 2.5rem;
    }
    
    .tituloBienvenido span{
        font-size: 3rem;
        line-height: 2.5rem;
    }
    
    .parrafoBienvenidaCentro{
        margin-top: 2rem;
        width: 80%;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #FFFFFF;
    }
    
    .tusPrimerosPasos{
        padding-inline: 1.5rem;
    }
    
    .parrafoPrimerosPasos{
        margin-top: 0.6rem;
        width: 80%;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    
    .seleccioneTestTitulo{
        padding-inline: 1rem;
        font-size: 1.8rem;
        line-height: 1.8rem;
    }

    .seleccioneTestTitulo span{
        font-size: 1.8rem;
        line-height: 1.8rem;
    }

    .cardTest{
        padding-block: 2rem;
        padding-inline: 1rem;
        width: 100%;
    }
    
    .cajaCardsTest{
        gap: 2rem;
        padding: 2rem;
        width: 90%;
        margin: auto;
    }
   
    .tituloDominio{
        font-size: 1.7rem;
    }

    .subtituloDominio{
        font-size: 1.4rem;
        margin-top: -0.5rem;
    }

}

@media (min-width: 576px) and (max-width: 992px){

    .tituloBienvenido{
        margin-top: 4rem;
    }
    
    .tituloBienvenido h1{
        line-height: 4rem;
        font-size: 4rem;
    }
    
    .tituloBienvenido span{
        font-size: 4rem;
        line-height: 3rem;
    }
        
    .parrafoBienvenidaCentro{
        margin-top: 2rem;
        width: 60%;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #FFFFFF;
    }
        
    .parrafoPrimerosPasos{
        margin-top: 0.6rem;
        width: 60%;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
        
    .seleccioneTestTitulo{
        font-size: 2rem;
        line-height: 2rem;
    }

    .seleccioneTestTitulo span{
        font-size: 2rem;
        line-height: 2rem;
    }
    
    .cardTest {
        padding-block: 2rem;
        padding-inline: 1.5rem;
        width: 45%;
        margin-bottom: 10%;
    }
        
    .cajaCardsTest{
        gap: 10%;
        padding: 2rem;
        width: 90%;
        margin: auto;
    }
       
    .tituloDominio{
        font-size: 1.6rem;
    }

    .subtituloDominio{
        font-size: 1.3rem;
        margin-top: -0.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px){

    .tituloBienvenido{
        margin-top: 3rem;
    }
    
    .tituloBienvenido h1{
        line-height: 5rem;
        font-size: 5rem;
    }
    
    .tituloBienvenido span{
        font-size: 5rem;
        line-height: 5rem;
    }
        
    .parrafoBienvenidaCentro{
        margin-top: 2rem;
        width: 70%;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #FFFFFF;
    }
        
    .parrafoPrimerosPasos{
        margin-top: 0rem;
        width: 70%;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
        
    .seleccioneTestTitulo{
        font-size: 2.6rem;
        line-height: 2.6rem;
    }

    .seleccioneTestTitulo span{
        font-size: 2.6rem;
        line-height: 2.6rem;
    }
    
    .cardTest {
        padding: 2rem;
        width: 30%;
        margin-bottom: 5%;
    }
        
    .cajaCardsTest{
        gap: 5%;
        padding: 2rem;
        width: 90%;
        margin: auto;
    }
       
    .tituloDominio{
        font-size: 1.9rem;
    }

    .subtituloDominio{
        font-size: 1.4rem;
        margin-top: -0.5rem;
    }
}

@media (min-width: 1200px){

    .tituloBienvenido{
        margin-top: 4rem;
    }
    
    .tituloBienvenido h1{
        line-height: 5rem;
        font-size: 5rem;
    }
    
    .tituloBienvenido span{
        font-size: 5rem;
        line-height: 5rem;
    }
        
    .parrafoBienvenidaCentro{
        margin-top: 2rem;
        width: 40%;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #FFFFFF;
    }
        
    .parrafoPrimerosPasos{
        margin-top: 0rem;
        width: 40%;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
        
    .seleccioneTestTitulo{
        font-size: 2.6rem;
        line-height: 2.6rem;
    }

    .seleccioneTestTitulo span{
        font-size: 2.6rem;
        line-height: 2.6rem;
    }
    
    .cardTest {
        padding: 2rem;
        width: 30%;
        margin-bottom: 5%;
    }
        
    .cajaCardsTest{
        gap: 5%;
        padding: 2rem;
        width: 70%;
        margin: auto;
    }
       
    .tituloDominio{
        font-size: 1.8rem;
    }

    .subtituloDominio{
        font-size: 1.4rem;
        margin-top: -0.5rem;
    }
}