.tituloDominio1Test h1{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

.tituloDominio1Test span{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

.tituloDominio1TestRojo h2{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #D3214D;
}

.parrafoInicioTest{
    margin-top: 1rem;
}

.parraforInicioTest2{
    margin-top: 0rem;
}

.importanteDominio1TestRojo h3{
    font-weight: 700;
    color: #D3214D;
}

.parrafoImportanteDominio1Test{
    margin-top: 0rem;
    width: 30%;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    color: #FFFFFF;
}

.contenedorInicioTestDominio{
    margin-top: 3rem;
    width: 100%;
    padding-inline: 1rem;
    padding-block: 3rem;
    background-color: #D3214D;
    background-image: url("../../../assets/Metalico.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.tituloInicioTestDominio h2{
    font-family: 'Anton';
    font-weight: 400;
}

.subtituloInicioTestDominio{
    margin-top: 1rem;
}

.subtituloInicioTestDominio h2{
    font-weight: 400;
}

.subtituloInicioTestDominio b{
    font-weight: 600;
}

.textoInicioTestDominio{
    margin-top: 1.5rem;
}

.textoInicioTestDominio p{
    font-weight: 400;
}

.contenedorPreguntaTestDominio{
    border-bottom: 0.5px solid rgb(255,255,255, 0.1);
}

.tituloPreguntaDominio{
    font-weight: 700;
    color: #FFFFFF;
}

.preguntaDominio{
    font-weight: 700;
    color: #FFFFFF;
}

.textoPregunta1-10{
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
}

.textoPregunta1-10 b {
    display: block;
}
  
.contenedorInputsPregunta1-10{
    display: flex;
}

.radioInputContainer {
    position: relative;
    width: 20px;
    height: 20px;
}

.radioInputContainer input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
}

.radioInputContainer input:checked ~ .checkmark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 65%;
    border-radius: 50%;
    background-color: #3A3A3A;
}

.labelInput1-10 {
    font-size: 1.1rem;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0.5rem;
}

.cajaBotonEnviarRespuestasDominio{
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

.cajaBotonEnviarRespuestasDominio button{
    color: #FFFFFF;
    background-color: #C8204A;
    transition: all 0.3s ease;
    border-radius: 8px;
    font-weight: 500;
    text-align: center;
    padding-block: 1rem;
    padding-inline: 2rem;
}

.cajaBotonEnviarRespuestasDominio button:hover{
    scale: 1.1;
}

.error1-10{
    color: #D3214D;
    text-align: center;
    margin-top: 1rem;
}

.error{
    color: #D3214D;
    margin-top: 2rem;
}

.cajaPregunta1-10{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

@media (max-width: 576px){

    .tituloDominio1Test{
        padding-inline: 1rem;
    }
    
    .tituloDominio1Test h1{
        font-size: 3.7rem;
        line-height: 4rem;
    }

    .tituloDominio1Test span{
        font-size: 3.7rem;
        display: block;
    }
    
    .tituloDominio1TestRojo{
        margin-top: -0.5rem;
    }
    
    .tituloDominio1TestRojo h2{
        font-size: 3rem;
    }
    
    .importanteDominio1TestRojo h3{
        font-size: 1.4rem;
    }

    .tituloInicioTestDominio h2{
        font-size: 3.7rem;
    }
    
    .subtituloInicioTestDominio h2{
        font-size: 1.4rem;
    }

    .subtituloInicioTestDominio b{
        display: block;
    }
    
    .textoInicioTestDominio p{
        font-size: 1rem;
        line-height: 1.4rem;
    }
    
    .contenedorPreguntaTestDominio{
        padding-inline: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .tituloPreguntaDominio{
        font-size: 2rem;
    }
    
    .preguntaDominio{
        font-size: 1.2rem;
    }
    
    .contenedorInputsPregunta1-10{
        justify-content: space-between;
        width: 100%;
        margin-left: 0rem;
        margin-right: 0rem;
    }
      
    .primerTexto1-10{
        order: +1;
    }

    .segundoTexto1-10{
        order: +1;
    }

    .cajaPregunta1-10{
        justify-content: space-between;
    }

    .textoPregunta1-10{
        margin-top: 1.5rem;
        font-size: 1rem;
        line-height: 1.2rem;
    }
    
    .cajaBotonEnviarRespuestasDominio button{
        font-size: 1rem;
    }

    .error{
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 992px){
    
    .tituloDominio1Test h1{
        font-size: 4rem;
    }

    .tituloDominio1Test span{
        font-size: 4rem;
    }
    
    .tituloDominio1TestRojo{
        margin-top: -1rem;
    }
    
    .tituloDominio1TestRojo h2{
        font-size: 3.5rem;
    }
    
    .importanteDominio1TestRojo h3{
        font-size: 1.4rem;
    }

    .tituloInicioTestDominio h2{
        font-size: 4rem;
    }
    
    .subtituloInicioTestDominio h2{
        font-size: 1.5rem;
    }
    
    .textoInicioTestDominio p{
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    
    .contenedorPreguntaTestDominio{
        padding-inline: 2rem;
        padding-block: 3rem;
    }
    
    .tituloPreguntaDominio{
        font-size: 2.3rem;
    }
    
    .preguntaDominio{
        font-size: 1.2rem;
    }
    
    .contenedorInputsPregunta1-10{
        margin: auto;
        width: 100%;
        justify-content: space-between;
        margin-left: 3rem;
        margin-right: 3rem;
    }
      
    .primerTexto1-10{
        order: +1;
    }

    .segundoTexto1-10{
        order: +1;
    }

    .cajaPregunta1-10{
        justify-content: space-between;
    }

    .textoPregunta1-10{
        margin-top: 1.5rem;
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
    
    .cajaBotonEnviarRespuestasDominio button{
        font-size: 1.2rem;
    }

    .error{
        text-align: start;
    }
}

@media (min-width: 992px) and (max-width: 1200px){

    .tituloDominio1Test h1{
        font-size: 5rem;
    }

    .tituloDominio1Test span{
        font-size: 5rem;
    }

    .tituloDominio1TestRojo{
        margin-top: -1rem;
    }
    
    .tituloDominio1TestRojo h2{
        font-size: 4.5rem;
    }
    
    .importanteDominio1TestRojo h3{
        font-size: 1.7rem;
    }

    .tituloInicioTestDominio h2{
        font-size: 5rem;
    }
    
    .subtituloInicioTestDominio h2{
        font-size: 1.7rem;
    }
    
    .textoInicioTestDominio p{
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    
    .contenedorPreguntaTestDominio{
        padding-inline: 6rem;
        padding-block: 4rem;
    }
    
    .tituloPreguntaDominio{
        font-size: 2.65rem;
    }
    
    .preguntaDominio{
        font-size: 1.5rem;
    }
    
    .contenedorInputsPregunta1-10{
        margin-left: 3rem;
        margin-right: 3rem;
        gap: 15px;
    }
    
    .textoPregunta1-10{
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
    
    .cajaBotonEnviarRespuestasDominio button{
        font-size: 1.3rem;
    }

    .error{
        text-align: start;
        margin-left: 4rem;
    }
}

@media (min-width: 1200px){
    
    .tituloDominio1Test h1{
        font-size: 5rem;
    }

    .tituloDominio1Test span{
        font-size: 5rem;
    }
    
    .tituloDominio1TestRojo{
        margin-top: -1rem;
    }

    .tituloDominio1TestRojo h2{
        font-size: 4.5rem;
    }

    .importanteDominio1TestRojo h3{
        font-size: 1.7rem;
    }

    .tituloInicioTestDominio h2{
        font-size: 5rem;
    }

    .subtituloInicioTestDominio h2{
        font-size: 2rem;
    }

    .textoInicioTestDominio p{
        font-size: 1.4rem;
        line-height: 1.9rem;
    }

    .contenedorPreguntaTestDominio{
        padding-inline: 8rem;
        padding-block: 4rem;
    }

    .tituloPreguntaDominio{
        font-size: 2.65rem;
    }

    .preguntaDominio{
        font-size: 1.5rem;
    }
    
    .contenedorInputsPregunta1-10{
        margin-left: 3rem;
        margin-right: 3rem;
        gap: 15px;
    } 
    
    .textoPregunta1-10{
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
    
    .cajaBotonEnviarRespuestasDominio button{
        font-size: 1.5rem;
    }

    .error{
        text-align: start;
        margin-left: 4rem;
    }
}