.contenedorProductosHome{
    margin-top: 5rem;
    margin-bottom: 15rem;
    padding-inline: 10rem;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.textosProductosHome{
    width: 40%;
}

.tituloProductosHome button{
    padding-inline: 2rem;
    padding-block: 0.8rem;
    border-radius: 16px;
    background-color: rgba(103, 204, 185, 0.22);
    font-size: 0.8rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    color: rgba(103, 204, 185, 1);
}

.textosProductosHome h3{
    margin-top: 1rem;
    font-size: 2.3rem;
    line-height: 2.1rem;
    font-weight: 300;
    color: rgba(103, 204, 185, 1);
}

.textosProductosHome h4{
    font-size: 2.3rem;
    line-height: 2.1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.textosProductosHome p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
}

.textosProductosHome p:not(:last-child){
    margin-top: 2rem;
}

.textosProductosHome p:last-child{
    margin-top: 1rem;
}

.textosProductosHome b{
    font-weight: 600;
}

.programasDisponiblesProductosHome{
    margin-top: 2rem;
    font-size: 0.85rem;
    padding-block: 0.7rem;
    padding-inline: 1.5rem;
    background-color: rgba(103, 204, 185, 1);
    color: #FFFFFF;
    border-radius: 6px;
    font-weight: 700;
    transition: all 0.3s ease;
}

.programasDisponiblesProductosHome:hover{
  transform: scale(1.08);
}

.cardsProductosHome{
    width: 100%;
    position: relative;
}

.cardPROEMHome{
    position: absolute;
    top: 40%;
    right: 25%;
    filter: drop-shadow(0px 0px 10px rgba(112, 221, 229, 0.1));
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0.7;
}

.cardTMDHome{
    position: absolute;
    top: 10%;
    right: 18%;
    filter: drop-shadow(0px 0px 10px rgba(112, 221, 229, 0.1));
    transition: all 0.3s ease;
    z-index: 2;
    opacity: 0.7;
}

.cardTMDHome:hover{
    filter: drop-shadow(0px 0px 10px rgba(112, 221, 229, 0.8));
    z-index: 3;
    opacity: 1;
    transform: scale(1.05);
}

.cardPROEMHome:hover{
    filter: drop-shadow(0px 0px 10px rgba(112, 221, 229, 0.8));
    z-index: 3;
    opacity: 1;
    transform: scale(1.05);
}

.flechaProductosHome{
    position: relative;
    top: -50px;
}