.contenedorInicioTestDominioSeccion1{
    width: 100%;
    background-color: #D3214D;
    background-position: center center;
    background-size: 100vw 100vh;
    background-image: url("https://doc-0c-90-docs.googleusercontent.com/docs/securesc/2lc7vs8d0n3e38d02dp61blmfed72min/eg5rqburuhpnv54r1meoartbpt24dlma/1685040375000/07405825733652792889/14585000474494058987/16bwV4nSFRBcfVFNuax3xlv-25LPqH-Xj?ax=ADWCPKDB31qTJzoNHlOotCB4PaHRQ5yiPchMqnpkK3DISpn1pJO2AEa3DTaB5sxznKArrnWmrweRjvUfr9kAZz2S5T1Knj1d8bVGr6H2pTYbllJsMqH9hnFutFOI0duvtSVv8ldNKVIpHQrsvdrPOnMsiPbrDLK10EN90HUPzHARXGTEflRl2f6CWdvzsztpVyznHuGVrLz_-BpYWGGDpDqKDWlySwgEMKxYOSFVVAp-coFwSkDK7oRyPAEtCOVbyLlQsrTPiuMFtxkUjW7upyocvLUtXTuoZ7K0SxBrgFs_15G1tAw6x6rD9bzfps9f1vAOkPl3OZxapz0Zt2koN_DSF0oxMGeS3ap7vpqYM5O4WEV90LFzdLhfhpHjfbLWS7TE4v7DN70io4ajuBLASfKNWwFMa34np55v4So-MTWBBwpJN6VMhzVhlv09WoicKJ_fm6i-lO9UR0n5HmssSGp7u-aZ8yIXwj0VKjzMfSgW9Pl-OxVrOUWXXFk7ylpIbFKV-mFgIdFBuoShD52Jms4uB5xhs-Dd6nYZ43ieVypMFBsPJ82n99hEdRI_VqbyN0-A4p5X2jkucuCICt60Mrkr6qClscqzaJQSGLDwdKF4e8UehoLbRupkb3TUdFVlzFjIwdTzXXhczSz8lFSCGExqN5WNqLrCERyb7O5Ia97yGZEi-SnMqXM2IMbU5QkyKrk5yRC8duTnqxcj7qM-di-Lj_QeNEjW267TZ61xIfuvTTvuk5JayAUgEJhxafKoSD_QmWH5VWf16mU2xJb5qjSuxX40UOUb33HaC_pduZULJk8nziLB2xX5-Kg21AEYoD3CQ3G1UvsS5SwVAqfEMUc2VuvgbAPfIvblqC2lzsnhQkngJdWiSK3c00q9WCcGHM_WKT23k0EklsQ7yod9AKB-EurM66vMeF_uNVm38G31PwHlex8-F9DIKdhxzD-1LmyeNZkMjGATshX8Z3PYdzrTrJp9evzgYBAYkysrQHHjPXPWajhGR0BbBqUO7uh9jhH9lgDEoxLrPZjtmLzO0rF_kiFFnr7T1xm0c-U-NEENfO__yuYI-z13JzNwihhlN8h5LiM0nE8lBY7kGLP97QgZbMliEiDAN9IyawRH6thrsmFaeKnQIcd2OaV_koIhqazirJBPrkMrDLbND4xmsyQ11vmxp_JNoQ&uuid=f445ee48-0ae0-4d6a-9937-033d01dfb45e&authuser=0&nonce=f19l21n3el3ag&user=14585000474494058987&hash=8cporsiun8ba9hnoujanj015530bn4ol");
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding-inline: 1rem;
    padding-block: 3rem;
    color: #FFFFFF;
}

.titulo2InicioTestDominioSeccion1 h2{
    font-family: 'Anton';
    font-weight: 400;
    color: #FFFFFF;
}

.subtituloInicioTestDominioSeccion1{
    margin-top: 1rem;
    color: #FFFFFF;
}

.subtituloInicioTestDominioSeccion1 h3{
    font-weight: 400;
}

.subtituloInicioTestDominioSeccion1 b{
    font-weight: 600;
}

.labelInput1-3{
    text-align: start;
    color: #FFFFFF;
}

.radioInputContainer1-3 {
    position: relative;
    width: 20px;
    height: 20px;
}

.radioInputContainer1-3 input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark1-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
}

.radioInputContainer1-3 input:checked ~ .checkmark1-3::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 65%;
    border-radius: 50%;
    background-color: #3A3A3A;
}

.contenedorInteriorPregunta1-3{
    display: flex;
    gap: 25px;
    margin-top: 1rem;
}

@media (max-width: 576px){
    .titulo2InicioTestDominioSeccion1{
        margin-top: -0.5rem;
    }
    
    .titulo2InicioTestDominioSeccion1 h2{
        font-size: 3rem;
    }
    
    .subtituloInicioTestDominioSeccion1 h3{
        font-size: 1.4rem;
    }

    .subtituloInicioTestDominioSeccion1 b{
        display: block;
    }

    .contenedorInputsPregunta1-3{
        margin-left: 0rem;
    }
    
    .labelInput1-3{
        font-size: 1rem;
        line-height: 1.2rem;
    }
}

@media (min-width: 576px) and (max-width: 992px){
    .titulo2InicioTestDominioSeccion1{
        margin-top: -1rem;
    }
    
    .titulo2InicioTestDominioSeccion1 h2{
        font-size: 3.5rem;
    }
    
    .subtituloInicioTestDominioSeccion1 h3{
        font-size: 1.5rem;
    }

    .contenedorInputsPregunta1-3{
        margin-left: 0.5rem;
    }
    
    .labelInput1-3{
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .titulo2InicioTestDominioSeccion1{
        margin-top: -1rem;
    }
    
    .titulo2InicioTestDominioSeccion1 h2{
        font-size: 4.5rem;
    }
    
    .subtituloInicioTestDominioSeccion1 h3{
        font-size: 1.7rem;
    }

    .contenedorInputsPregunta1-3{
        margin-left: 4rem;
    }
    
    .labelInput1-3{
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
}

@media (min-width: 1200px){
    .titulo2InicioTestDominioSeccion1{
        margin-top: -0.5rem;
    }
    
    .titulo2InicioTestDominioSeccion1 h2{
        font-size: 3rem;
    }

    .subtituloInicioTestDominioSeccion1 h3{
        font-size: 2rem;
    }

    .contenedorInputsPregunta1-3{
        margin-left: 4rem;
    }

    .labelInput1-3{
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
}
